---
layout: page
title: Join Us!
group: join
---

<p>We're always interested in supporting fellowship applications and hosting fellows.</p>

{% assign open_vacancies = site.vacancies | where: 'show', true %}

{% if open_vacancies.size > 0 %}
<div class="d-grid gap-3">
  {% for post in open_vacancies %}
  <div class="card w-100">
    <div class="card-header">
      {{ post.title }} | <strong>{{ post.positions | upcase }}</strong>
    </div>
    <div class="card-body">
      {{ post.content }} 
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>Unfortunately we don't have any vacancies right now -- please check back later.</p>
{% endif %}

