---
layout: join
title: Join Us!
group: join
---

<p>We are a highly interdisciplinary research group sitting at the intersection of physics, biochemistry, and data science, and <strong>we actively welcome applications from applicants from any scientific background</strong>. Since we work in a highly indisciplinary area, you do not need to have experience in all areas of a project in order to apply, as all necessary training will be provided, and tailored to the applicants scientific background and skill set. However, most positions will require at least an interest in programming/statistics/data science. </p>

{% capture myinclude %}For all enquiries, please contact {% include contact-link.markdown %}.{% endcapture %}{{ myinclude | markdownify}}

<div class="row">
  <div class="col col-md-6">
    {% capture myinclude %}
### Postdocs and PhD positions
If you're interested in working with us and we don't have a position currently advertised, please contact us anyway.
**We are always interested in supporting fellowship applications from early-career researchers**, so if you have an idea you want to discuss, and the possibilities available to you, drop us an email.
    {% endcapture %}{{ myinclude | markdownify}}
  </div>
  <div class="col col-md-6">
    {% capture myinclude %}
### Master's Students

We welcome contact from Master's students that are interested in doing projects within the group. We do not advertise specific Master's projects, but we will always have several available, linked to our various research themes. If you have specific research interests, let us know and we will try to tailor the project to you. 
    {% endcapture %}{{ myinclude | markdownify}}
  </div>
  <div class="col col-md-12">
    {% include dei-statement.html %}
  </div>
</div>


<!-- These positions will be tailored to the successful applicant's skills, in the following projects: 
- **Multi-dataset analysis**: developing new approaches for extracting weak signal from macromolecular electron density. For our previous work, see the [PanDDA](http://pandda.bitbucket.io/pandda/) webpage.
- **Disorder and flexibility analysis**: developing new approaches for extracting and characterising flexibility in experimental macromolecular structures. For our previous work, see the [ECHT](https://pandda.bitbucket.io/pandemic/echt.html) webpage.
- **Multi-dataset analysis of protein dynamics**: developing new multi-dataset approaches for modelling crystallographic and cryo-EM macromolecular structures.
- **Statistical methods of model building and decision making** in macromolecular crystallography/cryo-EM. -->
