---
layout: page
title: Group Members
group: members
---

{% assign glrs = site.members | where: 'position', 'group leader' | sort: 'start_date' %}
{% assign pdcs = site.members | where: 'position', 'postdoc' | sort: 'start_date' %}
{% assign phds = site.members | where: 'position', 'phd' | sort: 'start_date' %}
{% assign msts = site.members | where: 'position', 'masters' | sort: 'start_date' %}
{% assign staf = site.members | where: 'position', 'staff' | sort: 'start_date' %}

<div class="">
  {%- include join-banner.html -%}
</div>

<div class="page-block">
  {% if glrs.size > 0 %}{% include member-card-stack.html people=glrs title="Group Leader" %}{% endif %}
  {% if pdcs.size > 0 %}{% include member-card-stack.html people=pdcs title="Postdocs" %}{% endif %}
  {% if phds.size > 0 %}{% include member-card-stack.html people=phds title="PhDs" %}{% endif %}
  {% if msts.size > 0 %}{% include member-card-stack.html people=msts title="Master's Students" %}{% endif %}
  {% if staf.size > 0 %}{% include member-card-stack.html people=staf title="Staffs"%}{% endif %}
</div>