---
layout: page
title: Group Members
group: members
---

{% assign glrs = site.members | where: 'position', 'group leader' %}
{% assign pdcs = site.members | where: 'position', 'postdoc' %}
{% assign phds = site.members | where: 'position', 'phd' %}
{% assign msts = site.members | where: 'position', 'masters' %}

{%- include join-banner.html -%}

{% if glrs.size > 0 %}{% include member-block.html people=glrs title="Group Leader" %}{% endif %}
{% if pdcs.size > 0 %}{% include member-block.html people=pdcs title="Postdocs" %}{% endif %}
{% if phds.size > 0 %}{% include member-block.html people=phds title="PhDs" %}{% endif %}
{% if msts.size > 0 %}{% include member-block.html people=msts title="Master's Students" %}{% endif %}
