---
layout: page
title: Publications
group: publications
---

<p>Here are a list of the group's current publications.</p>

<div class="list-group">
  {% assign publications = site.publications | sort: 'pub_date' | reverse %}
  {%- for pub in publications -%}
  {% if pub.title == "" %}
    {% continue %}
  {% endif %}
  <div class="list-group-item list-group-item-action" aria-current="true">
    <div class="row">
      <div class="col-10">
        <h5 class="mb-1">{{ pub.pub_date | split: '-' | first }} | {{ pub.journal | upcase }}</h5>
        <p><strong>{{ pub.title | markdownify }}</strong></p>
        <p><i><small>{{ pub.authors | markdownify }}</small></i></p>
      </div>
      <div class="col-2">
        {% if pub.journal_link %}
        <h3 class="text-end">
          <a href="{{ pub.journal_link }}"><i class="bi-link"></i></a>
        </h3>
        {% endif %}
        {% if pub.pdf_link %}
        <h3 class="text-end">
          <a  href="{{ pub.pdf_link }}"><i class="bi-download"></i></a>
        </h3>
        {% endif %}
      </div>
    </div>
  </div>
  {%- endfor -%}
</div>

