{% assign pagi = include.paginator %}

<nav aria-label="Blog pagination">
  
  <ul class="pagination">

  {% if pagi.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ pagi.previous_page_path }}">
        Previous
      </a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link">
        Previous
      </a>
    </li>
  {% endif %}

  {% for page_no in (1..pagi.total_pages) %}
  {% if page_no == pagi.page %}
  <li class="page-item active" aria-current="page">
    <a class="page-link">
      {{ page_no }}
    </a>
  </li>
  {% elsif page_no == 1 %}
  <li class="page-item">
    <a class="page-link" href="{{ page.path | relative_url }}">
      {{ page_no }}
    </a>
  </li>
  {% else %}
  <li class="page-item">
    <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page_no }}">
      {{ page_no }}
    </a>
  </li>
  {% endif %}
  {% endfor %}

  {% if pagi.next_page %}
    <li class="page-item">
      <a class="page-link" href="{{ pagi.next_page_path }}">
        Next
      </a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link">
        Next
      </a>
    </li>
  {% endif %}

  </ul>
</nav>