{%- assign post = include.post -%}

<a class="div-link" href="{{ post.url | relative_url }}">
<div class="card h-100">
  <div class="row g-0 flex-fill">
    <div class="col-md-4 align-self-center">
      <img src="{{ post.thumbnail | default: "/static/img/thumbnails/amino/thumbnail_Q.png" | relative_url }}" class="img-fluid rounded-start" alt="image not found">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
            {{ post.title | truncate: 100 | escape }}
          <!-- <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | truncate: 100 | escape }}
          </a> -->
        </h5>
        <p class="card-text">
          {{ post.excerpt | truncate: 200 }}
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      {{ post.date | date: site.date_format }}
    </small>
  </div>
</div>
</a>