{% assign open_vacancies = site.vacancies | where: 'show', true %}

{% if open_vacancies.size > 0 %}

<!-- <h3>Current Vacancies / Adverts </h3> -->

<p>We currently have {{ open_vacancies.size }} advert(s) for positions in the group.</p>

<p>For most positions, we will consider candidates with backgrounds in e.g. data science interested in structural biology, and with backgrounds in structural biology interested in data science approaches. Please contact us if you have questions regarding eligibility, or to discuss a position! 

<div class="row row-cols-1 row-cols-md-3 g-0">
  {% for v in open_vacancies %}
  {% assign n_vacancies = v.n_postdocs | plus: v.n_phds %}
  {% assign nv_string = "" %}
  {% if v.n_postdocs > 0 %}
    {% assign nv_string = nv_string | append: v.n_postdocs | append: " postdoc" %}
    {% if v.n_postdocs > 1 %}
      {% assign nv_string = nv_string | append: "s" %}
    {% endif %}
  {% endif %}
  {% if v.n_postdocs > 0 %}{% if v.n_phds > 0 %}
    {% assign nv_string = nv_string | append: " and " %}
  {% endif %}{% endif %}
  {% if v.n_phds > 0 %}
    {% assign nv_string = nv_string | append: v.n_phds | append: " phd student" %}
    {% if v.n_phds > 1 %}
      {% assign nv_string = nv_string | append: "s" %}
    {% endif %}
  {% endif %}
  <div class="col"> 
    <div class="card h-100 rounded-0">
      <div class="card-header">
        {{ v.title }} {% if n_vacancies > 0 %}| <strong>{{ nv_string | upcase }}</strong>{% endif %}
      </div>
      <div class="card-body">
        {{ v.content }} 
      </div>
      <div class="card-footer">
        <a href="{{ v.link }}">Read more and apply here</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% else %}

<p>Unfortunately we don't have any vacancies right now -- please check back later.</p>

{% endif %}

