.small-logo {
    margin-top: 1.0rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-bottom: 1.0rem;
    max-height: 3rem;
}

.page-block {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.page-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sidebar-right {
    height: 100%;
    background-image: url('/static/img/ribbons/beta-black-black-rotate.svg');
    background-repeat: repeat-y;
    background-size: 3em;
    background-position: left top;"
    padding-right: 5em;
}

.sidebar-right-inner {
    margin-left: 5em;
}

.sidebar-left {
    height: 100%;
    background-image: url('/static/img/ribbons/beta-black-black-rotate.svg');
    background-repeat: repeat-y;
    background-size: 3em;
    background-position: right top;"
    padding-left: 5em;
}

.sidebar-left-inner {
    margin-right: 5em;
}

.hr-beta {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 1em;
    width: 100%;
    background-image: url('/static/img/ribbons/beta-grey.svg');
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: left center;"
}

.hr-alpha {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 1em;
    width: 100%;
    background-image: url('/static/img/ribbons/alpha-grey.svg');
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: left center;"
}

a {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.suppress-p-margins > p {   
    margin-top: 0;
    margin-bottom: 0;
}

.div-link {
    color:  inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.div-link:hover {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.div-link > div:hover {
    background-color: #f8f9fa;
}